/* Schedule Container Styles */
.schedule-container {
    padding: 20px;
    margin: 30px auto; /* Center align and increase margin */
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    counter-reset: schedule-counter; /* Initialize the counter */
    text-align: center;
}

/* Style for individual schedule items */
.schedule-item {
    margin-right: 35px;
    margin-bottom: 20px; /* Increase margin for more space between items */
    padding: 10px 10px 10px 50px; /* Add padding on the left for the number */
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    text-align: left; /* Align text to the left */
    counter-increment: schedule-counter; /* Increment the counter */
    position: relative; /* Positioning for the counter */
}

/* Add a number before each schedule item in a colored square */
.schedule-item::before {
    content: counter(schedule-counter); /* Display the counter value */
    position: absolute; /* Position it absolutely */
    left: 10px; /* Position it within the item */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    font-weight: bold; /* Make the number bold */
    font-size: 16px; /* Match the item font size */
    color: #fff; /* Color of the number */
    background-color: #7c965e; /* Color of the square */
    width: 30px; /* Width of the square */
    height: 30px; /* Height of the square */
    display: flex; /* Use flexbox for centering the number */
    align-items: center; /* Vertically center the number */
    justify-content: center; /* Horizontally center the number */
    border-radius: 5px; /* Rounded corners for the square */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Add shadow to the square */
}

/* Style for grabbing item */
.schedule-item:active {
    cursor: grabbing; /* Change cursor when dragging */
}