body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Přidá lehký stín pro oddělení od obsahu */
}

.login a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.language-switcher {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.language-switcher a {
    margin-left: 10px;
    font-size: 24px; /* Velikost emoji */
    text-decoration: none; /* Odstranit podtržení */
    cursor: pointer;
    line-height: 1; /* Zajistí správné zarovnání emoji */
}
