body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.feedback-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 470px;
    text-align: center;
}

.feedback-container h2 {
    margin-top: 0;
}


#feedbackForm input[type="email"] {
    padding: 10px; /* Přidá prostor uvnitř vstupního pole */
    font-size: 16px; /* Volitelně, pro lepší čitelnost */
    border: 1px solid #ccc; /* Pro lepší viditelnost okraje */
    border-radius: 4px; /* Kulaté rohy pro moderní vzhled */
    box-sizing: border-box; /* Zajišťuje, že padding se správně aplikuje */
    width: 100%; /* Zajišťuje, že vstupní pole zabere celou šířku kontejneru */
}

#feedbackForm textarea {
    padding: 10px; /* Přidá prostor uvnitř textarea */
    font-size: 16px; /* Volitelně, pro lepší čitelnost */
    border: 1px solid #ccc; /* Pro lepší viditelnost okraje */
    border-radius: 4px; /* Kulaté rohy pro moderní vzhled */
    box-sizing: border-box; /* Zajišťuje, že padding se správně aplikuje */
    width: 100%; /* Zajišťuje, že textarea zabere celou šířku kontejneru */
}

.feedback-container input,
.feedback-container textarea {
    width: 100%;
    padding: 5px;
    padding-left: 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.back-button, .change-background-button {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}