/* Landing Page Specific Styles */
body {
    background-color: #d2beba; /* Default background color */
  }
  
  .landing-container {
    text-align: center;
    background-color: rgba(197, 148, 148, 0.9);
    padding: 50px;
    border-radius: 100px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .start-button {
    font-size: 2px;
    padding: 12px 24px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
  }
  
  .start-button:hover {
    background-color: #7c965e;
  }
  